name = 'exp'
signature = 'exp(power: f64) -> f64'
short_doc = 'Returns `e^power`.'
long_doc = '''
### Parameters
* power: The power to raise `e` to.

The exponential function applies to `f64` numbers only.
Other numbers will be implicitly promoted.

### Results
Returns a column of `f64` values.
Each row contains `null` if `power` is `null`.
Otherwise, the row contains the value `e ^ power`.
'''
tags = ['math']

[[examples]]
name = 'Exponential'
expression = 'exp(Input.a)'
input_csv = '''
time,key,a
2021-01-01T00:00:00.000000000Z,A,5.7
2021-01-02T00:00:00.000000000Z,A,6.3
2021-01-02T00:00:00.000000000Z,B,
'''
output_csv = '''
time,key,a,result
2021-01-01T00:00:00.000000000Z,A,5.7,298.8674009670603
2021-01-02T00:00:00.000000000Z,A,6.3,544.571910125929
2021-01-02T00:00:00.000000000Z,B,,
'''
