name = 'len'
signature = 'len(s: string) -> i32'
short_doc = 'Returns the length of the string `s`.'
long_doc = '''
### Parameters
* s: The string to compute the length of.

### Results
Returns an `i32` column with each row containing the length of the
string `s` in that row. Returns `0` for the empty string and `null`
if `s` is `null`.
'''
tags = ['string']

[[examples]]
name = 'String Length'
expression = 'Input.value | len()'
input_csv = '''
time,key,value
2021-01-01T00:00:00.000000000Z,Ben,Hello World
2021-01-02T00:00:00.000000000Z,Ryan,''
2021-01-02T00:00:00.000000000Z,Ryan,Hi Earth
2021-01-03T00:00:00.000000000Z,Ben,Hello
2021-01-03T00:00:00.000000000Z,Ben,''
2021-01-04T00:00:00.000000000Z,Ryan,hi
'''
output_csv = '''
time,key,value,result
2021-01-01T00:00:00.000000000Z,Ben,Hello World,11
2021-01-02T00:00:00.000000000Z,Ryan,'',2
2021-01-02T00:00:00.000000000Z,Ryan,Hi Earth,8
2021-01-03T00:00:00.000000000Z,Ben,Hello,5
2021-01-03T00:00:00.000000000Z,Ben,'',2
2021-01-04T00:00:00.000000000Z,Ryan,hi,2
'''
