name = 'max'
signature = 'max(input: ordered, window: window = null) -> ordered'
short_doc = 'Computes the maximum of values across the input.'
long_doc = '''
This is an aggregation that computes the maximum across multiple rows.
See [`zip_max`](#zip-max) to take the maximum of two values from
each row.

### Parameters
* input: The input to compute the maximum of.
* window: The window to aggregate within, as described in
[Aggregation Functions](#aggregation-functions). If `null`, aggregates are across all
rows for the current entity. If non-`null`, aggregates are within the specified window.
See [window functions](#window-functions) for how to specify the aggregation window.

### Results
For each input row, return the maximum of new, non-`null` rows in `input` up to and
including the input row for the given entity. Returns `null` until there has been
at least one such input.
'''
tags = [
    'aggregation',
    'math',
]

[[examples]]
name = 'Maximum'
expression = 'max(Input.value)'
input_csv = '''
time,key,value
2021-01-01T00:00:00.000000000Z,Ben,50.7
2021-01-01T00:00:00.000000000Z,Ryan,
2021-01-02T00:00:00.000000000Z,Ryan,67.2
2021-01-03T00:00:00.000000000Z,Ben,1.2
2021-01-04T00:00:00.000000000Z,Ben,
2021-01-04T00:00:00.000000000Z,Ryan,2.3
'''
output_csv = '''
time,key,value,result
2021-01-01T00:00:00.000000000Z,Ben,50.7,50.7
2021-01-01T00:00:00.000000000Z,Ryan,,
2021-01-02T00:00:00.000000000Z,Ryan,67.2,67.2
2021-01-03T00:00:00.000000000Z,Ben,1.2,50.7
2021-01-04T00:00:00.000000000Z,Ben,,50.7
2021-01-04T00:00:00.000000000Z,Ryan,2.3,67.2
'''
