name = 'seconds_between'
signature = 'seconds_between(t1: timestamp_ns, t2: timestamp_ns) -> duration_s'
short_doc = 'Returns the number of seconds between the first and second timestamp.'
long_doc = '''
### Parameters
* t1: The first timestamp
* t2: The second timestamp

### Results
Returns a `duration_s` column representing the number of seconds
between the two timestamps.

In rows where `t1` or `t2` are `null`, the result will be `null`.
If `t1` is before `t2`, the result will be positive. If `t1`
is after `t2`, the result will be negative.
'''
tags = ['time']

[[examples]]
name = 'Seconds Between'
description = '''
Note that the expression uses `as i64` to convert the `duration_s`
to the integer number of seconds. This discards the units.
'''
expression = 'seconds_between(Input.time, Input.date) as i64'
input_csv = '''
time,key,date
1996-03-21T00:00:00-00:00,Ben,1996-08-19T00:00:00-00:00
1996-04-21T00:00:00-00:00,Ryan,1995-07-20T00:00:00-00:00
1996-05-21T23:00:00-00:00,Ryan,1996-06-20T00:00:00-00:00
1996-06-21T00:00:00-00:00,Ryan,1996-08-19T05:00:00-00:00
1996-07-21T00:00:00-00:00,Ben,
1996-08-21T00:00:00-00:00,Ben,1996-08-22T00:00:00-00:00
'''
output_csv = '''
time,key,date,result
1996-03-21T00:00:00-00:00,Ben,1996-08-19T00:00:00-00:00,13046400
1996-04-21T00:00:00-00:00,Ryan,1995-07-20T00:00:00-00:00,-23846400
1996-05-21T23:00:00-00:00,Ryan,1996-06-20T00:00:00-00:00,2509200
1996-06-21T00:00:00-00:00,Ryan,1996-08-19T05:00:00-00:00,5115600
1996-07-21T00:00:00-00:00,Ben,,
1996-08-21T00:00:00-00:00,Ben,1996-08-22T00:00:00-00:00,86400
'''
