name = 'year'
signature = 'year(time: timestamp_ns) -> i32'
short_doc = 'Return the year of the given timestamp.'
long_doc = '''
### Parameters
* time: The timestamp to return the year for.

### Results
Returns an `i32` column containing the year for each input `time`.
Returns `null` for rows where `time` is `null`.
'''
tags = ['time']

[[examples]]
name = 'Year'
expression = 'year(Input.time)'
input_csv = '''
time,key
1996-03-21T00:00:00-00:00,Ben
1997-04-21T00:00:00-00:00,Ryan
1999-05-21T00:00:00-00:00,Ryan
2000-06-21T00:00:00-00:00,Ryan
2021-07-21T00:00:00-00:00,Ben
2022-08-21T00:00:00-00:00,Ben
'''
output_csv = '''
time,key,result
1996-03-21T00:00:00-00:00,Ben,1996
1997-04-21T00:00:00-00:00,Ryan,1997
1999-05-21T00:00:00-00:00,Ryan,1999
2000-06-21T00:00:00-00:00,Ryan,2000
2021-07-21T00:00:00-00:00,Ben,2021
2022-08-21T00:00:00-00:00,Ben,2022
'''
