{{- if .Values.service.enabled }}
{{- $root := . }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kaskada-canary.fullname" . }}
  namespace: {{ include "kaskada-canary.namespaceName" . }}
  labels:
    {{- include "kaskada-canary.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- tpl (toYaml . | nindent 4) $root }}
  {{- end }}
spec:
  {{- if (or (eq .Values.service.type "ClusterIP") (empty .Values.service.type)) }}
  type: ClusterIP
  {{- with .Values.service.clusterIP }}
  clusterIP: {{ . }}
  {{- end }}
  {{- else if eq .Values.service.type "LoadBalancer" }}
  type: {{ .Values.service.type }}
  {{- with .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ . }}
  {{- end }}
  {{- with .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  type: {{ .Values.service.type }}
  {{- end }}
  {{- with .Values.service.externalIPs }}
  externalIPs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ports:
    - name: grpc
      port: {{ .Values.service.grpcPort }}
      targetPort: 50051
      protocol: TCP
      {{- with .Values.service.appProtocol }}
      appProtocol: {{ . }}
      {{- end }}
    - name: rest
      port: {{ .Values.service.restPort }}
      targetPort: 3365
      protocol: TCP
      {{- with .Values.service.appProtocol }}
      appProtocol: {{ . }}
      {{- end }}
  selector:
    {{- include "kaskada-canary.selectorLabels" . | nindent 4 }}
{{- end }}