/* css styles */

.navbar-brand-logo img {
    max-width: 100%;
    width: auto;
    height: 36px;
    max-height: 36px;
    vertical-align: middle;
}

body.quarto-light nav.navbar {
    box-shadow: 0 0.125rem 0.25rem 0 var(--bs-gray-400);
}

body.quarto-light .only-dark {
    display: none !important;
}

body.quarto-dark .only-light {
    display: none !important;
}

.announcement {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 3rem;
    padding: 0.5rem 12.5%;
    position: relative;
    text-align: center;
    width: 100%;
}

body.quarto-light .announcement {
    background-color: rgb(208, 231, 233);
}

body.quarto-dark .announcement {
    background-color: rgb(73, 73, 110);
}

h2 {
    border-bottom: none;
}

body.quarto-dark .sd-card {
    border: 1px solid white;
}

body.quarto-dark .sd-card-header {
    border-bottom: 1px solid white;
}

th> :last-child,
td> :last-child {
    margin-bottom: 0px;
}

dd {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 3px;
}

.red {
    color: #e83e8c
}