# Applies labels to PRs based on paths changed.
# Uses the labels defined in `.github/release-drafter.yml`.

name: Pull request labeler

on:
  # Use `pull_request_target` so we get write permission to the PR
  # even on PRs *from* forks of this repository.
  #
  # https://github.com/actions/labeler/issues/121
  pull_request_target:
    types: [opened, edited, synchronize]

# In cases of concurrent workflows running (consecutive pushes to PR)
# leave the latest workflow and cancel the other (older) workflows
# See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Label pull request
        uses: release-drafter/release-drafter@v5
        with:
          disable-releaser: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}